@model NewKidsActivityProject.Models.Activity

@{
    ViewBag.Title = "ActivityDetails";
}

<h3><u>Details for @Model.NameOfActivity</u></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfActivityValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfActivityValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityPrice)
        </dt>

        <dd>
            €@Html.DisplayFor(model => model.ActivityPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorFirstName)
            @Html.DisplayNameFor(model => model.InstructorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorFirstName)
            @Html.DisplayFor(model => model.InstructorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "AllActivities") | 
    @Html.ActionLink("Edit Activity", "Edit", new { id = Model.ActivityID }) | 
    @Html.ActionLink("Remove Activity", "Delete", new { id = Model.ActivityID })

    <!---*****WORK OUT HOW TO PUT A LINK IN HERE TO CREATE FOR ENROLLMENT. LOOK AT ENROLLMENT FIRST****-->
</p>
