@model NewKidsActivityProject.Models.Activity

@{
    ViewBag.Title = "ActivityDetails";
}

<h3><u>Details for @Model.NameOfActivity</u></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameOfActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Places)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Places)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DayOfActivity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayOfActivity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfActivityValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfActivityValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityPrice)
        </dt>

        <dd>
            €@Html.DisplayFor(model => model.ActivityPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorFirstName)
            @Html.DisplayNameFor(model => model.InstructorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorFirstName)
            @Html.DisplayFor(model => model.InstructorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorContactNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorContactNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstructorEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstructorEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
    <dl>
        Enrollments for this Activity
        <dd>
            <table class="table-bordered">
                <tr>
                    <th>
                        Child
                    </th>
                    <th>
                        Paid
                    </th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Kid.FirstName)
                            @Html.DisplayFor(modelItem => item.Kid.LastName)
                        </td>
                        <td style="text-align:center">
                            <!--centre alignement of text box-->
                            @Html.DisplayFor(modelItem => item.PaymentDue)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>

<p> Total enrollments:  @ViewBag.NumberOfEnrollments <br /> Places available:  @ViewBag.PlacesLeft</p>

<p>
    @Html.ActionLink("Back to List", "AllActivities") | 
    @Html.ActionLink("Edit Activity", "Edit", new { id = Model.ActivityID }) | 
    @Html.ActionLink("Remove Activity", "Delete", new { id = Model.ActivityID }) |
    @Html.ActionLink("Enroll in activity", "Create", "Enrollment", new { id = Model.ActivityID }, null)

</p>
